<meta name="description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
{{ with .Site.Params.author }}<meta name="author" content="{{ . }}">{{ end }}

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="{{ .Title }}">
<meta name="twitter:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}">
<meta name="twitter:creator" content="@dirk_sch">
{{ if .Params.ogimage }}
<meta name="twitter:image" content="{{ .Params.ogimage | absURL }}">
<meta property="og:image" content="{{ .Params.ogimage | absURL }}">
{{ else }}
<meta name="twitter:image" content="{{ .Site.Params.defaultogimage | absURL }}">
<meta property="og:image" content="{{ .Site.Params.defaultogimage | absURL }}">
{{ end }}

<meta property="og:title" content="{{ .Title }}" />
<meta property="og:description" content="{{ with .Description }}{{ . }}{{ else }}{{ with .Site.Params.description }}{{ . }}{{ end }}{{ end }}" />
